.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.detailButton {
  position: absolute;
  margin: auto;
  text-align: center;
  border-radius: 25px;
  border: 1px solid rgb(90, 144, 190);
  background-color: aliceblue;
  transition: 0.3s ease-in-out;
}

.detailButton:hover {
  background-color: rgb(183, 217, 247);
}
/* 
.container * {
  display: block;
} */
/* .backButton {
  margin: auto;
  text-align: center;
  border: 1px solid rgb(90, 144, 190);
  background-color: aliceblue;
  border-radius: 25px;
} */

.backButton {
  position: absolute;
  top: 0.07em;
  left: 0.4rem;
  border: 1px solid rgb(90, 144, 190);
  background-color: aliceblue;
  border-radius: 25px;
  transition: 0.3s ease-in-out;
}

.backButton:hover {
  background-color: rgb(183, 217, 247);
}
.saveButton {
  position: relative;
  margin: auto;
  text-align: center;
  border: 1px solid rgb(90, 144, 190);
  background-color: aliceblue;
  border-radius: 10px;
  padding: 0.5em;
  margin-left: -50px;
  margin-top: 20px;
  left: 50%;
  width: 100px;
  bottom: 0px;
  transition: 0.3s ease-in-out;
}

.saveButton:hover {
  background-color: rgb(183, 217, 247);
}

.sub {
  margin: auto;
  max-width: 33vw;
}

.label {
  padding: 0.1em;
}
