.addressBox {
  margin: auto;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 25vh;
}

.addressBox:hover {
  overflow: scroll;
}

.address {
  display: flex;
  flex-direction: column;
}

.getButton {
  margin: auto;
  text-align: center;
  border: 1px solid rgb(90, 144, 190);
  background-color: aliceblue;
  border-radius: 7px;
  padding: 3px 10px;
  transition: 0.3s ease-in-out;
}

.getButton:hover {
  background-color: rgb(179, 219, 255);
}

.addButton {
  position: absolute;
  margin: auto;
  text-align: center;
  border: 1px solid rgb(90, 144, 190);
  background-color: aliceblue;
  border-radius: 10px;
  padding: 0.5em;
  margin-left: -50px;
  left: 50%;
  width: 100px;
  bottom: 0px;
  transition: 0.3s ease-in-out;
}

.addButton:hover {
  background-color: rgb(179, 219, 255);
}

@media screen and (max-width: 600px) {
  .addressBox {
    margin: auto;
    text-align: center;
    max-width: 50vw;
    max-height: min-content;
    overflow: hidden;
  }

  .address {
    max-width: 45vw;
  }
  .getButton {
    margin: auto;
    text-align: center;
    border: 1px solid rgb(90, 144, 190);
    background-color: aliceblue;
    border-radius: 25px;
  }

  }

@media screen and (min-width: 600px) {
  .addressBox {
    margin: auto;
    text-align: center;
    max-width: 25vw;
    max-height: 25vh;
    overflow: hidden;
  }

  .addressBox:hover {
    overflow: scroll;
  }
  .address {
    max-width: 35vw;
  }
}
