.search {
  position: absolute;
  top: 0.5rem;
  left: 55%;
  transform: translate(-50%);
  width: 80%;
  max-width: 350px;
  z-index: 2;
  /* margin: 0;
  padding: 0; */
}

.searchBar {
  border-radius: 20px;
  font-size: medium;
  text-align: center;
}
