.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.detailsList {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.detailsListItem {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.backButton {
  position: absolute;
  top: 0.07em;
  left: 0.4rem;
  border: 1px solid rgb(90, 144, 190);
  background-color: aliceblue;
  border-radius: 25px;
  transition: 0.3s ease-in-out;
}

.backButton:hover {
  background-color: rgb(183, 217, 247);
}

.sub {
  margin: auto;
  max-width: 35vw;
}

.addressBox {
  margin: auto;
  text-align: center;
}

.address {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .addressBox {
    margin: auto;
    text-align: center;
    max-width: 50vw;
    max-height: min-content;
  }

  .address {
    max-width: 45vw;
  }
}

@media screen and (min-width: 600px) {
  .addressBox {
    margin: auto;
    text-align: center;
    max-width: 25vw;
    max-height: 15vh;
    overflow: hidden;
  }

  .address {
    max-width: 35vw;
  }
}
