.App {
  text-align: center;
  top: 3em;
}

.heading {
  position: relative;
  font-family: "Moonllime";
  font-size: 3.3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  background-color: rgb(22, 138, 153);
  overflow: hidden;
  width: 100%;
}

.active {
  background-color: rgb(50, 22, 153);
}
.nav a {
  cursor: pointer;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 1.1em;
}

.nav a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
}

/* The "responsive" class is added to the nav with JavaScript when the user clicks on the icon. This class makes the nav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
}
