.container {
  position: absolute;
  top: 7em;
  left: 1em;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 2px rgb(161, 147, 238);
}

.label {
  position: absolute;
  top: 0.07em;
  left: 0.3rem;
  color: rgb(36, 35, 35);
  text-shadow: 0px 1px 3px aliceblue;
  z-index: 2;
  margin: 0;
  padding: 0;
  font-size: x-large;
  font-family: "moonllime";
  user-select: none;
}

.detailButton {
  border-radius: 25px;
  border: 1px solid rgb(90, 144, 190);
  background-color: aliceblue;
}
