.label {
  position: absolute;
  top: 5.5rem;
  left: 0.5rem;
  color: black;
  z-index: 2;
  margin: 0;
  padding: 0;
  font-size: medium;
}

.detailButton {
  border-radius: 25px;
  border: 1px solid rgb(90, 144, 190);
  background-color: aliceblue;
}
