.page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container {
  position: relative;
  left: 3em;
  text-align: center;
  max-width: fit-content;
  max-height: 59vh;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 2px rgb(22, 138, 153);
}

.panelSection {
  right: 3em;
  position: relative;
  text-align: center;
  border-radius: 10px;
  border: 3px solid rgb(22, 138, 153);
  height: fit-content;
  min-width: 300px;
}

.detailsSection {
  right: 3em;
  position: relative;
  text-align: center;
  border-radius: 10px;
  border: 3px solid rgb(22, 138, 153);
  height: max-content;
  min-width: 300px;
}

.displaySection {
  right: 3em;
  position: relative;
  text-align: center;
  border-radius: 10px;
  border: 3px solid rgb(22, 138, 153);
  height: fit-content;
  min-width: 300px;
}

@media screen and (max-width: 600px) {
  .page {
    display: flex;
    flex-direction: column;
  }

  .container {
    max-width: min-content;
    margin-right: 2%;
  }
  .panelSection {
    margin: auto;
    min-width: 60vw;
  }

  .detailsSection {
    margin: auto;
    min-width: 60vw;
  }
  .displaySection {
    margin: auto;
    min-width: 60vw;
  }
}

/* The "responsive" class is added to the nav with JavaScript when the user clicks on the icon. This class makes the nav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (min-width: 600px) {
  .page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .container {
    max-width: max-content;
    margin-right: 2%;
  }
}

.label {
  position: absolute;
  top: 0.07em;
  left: 0.3rem;
  color: rgb(36, 35, 35);
  text-shadow: 0px 1px 3px aliceblue;
  z-index: 2;
  margin: 0;
  padding: 0;
  font-size: x-large;
  font-family: "moonllime";
  user-select: none;
}

.detailButton {
  margin: auto;
  text-align: center;
  border-radius: 25px;
  border: 1px solid rgb(90, 144, 190);
  background-color: aliceblue;
}

.infoPop {
  text-align: center;
  margin: auto;
}
